<html>
  <head>
    <title>My EDD</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/kalendae.css" charset="utf-8">
    <script src="js/kalendae.min.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
