<html>
  <head>
    <title>My EDD</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
